[2016-07-29 19:10] knoguchi opened #1 "missing post-aggregator in the query editor"
Looks like the post-agg is missing in the query editor.   The JavaScript code to support Post Aggregation feature seems to be complete.  Maybe forgot to check in the html?

[2016-07-29 19:13] abhisant commented on #1
Could you please elaborate ? Didn't completely follow you.. Which html are you referring to .

[2016-07-29 19:42] knoguchi commented on #1
Your src/partials/query.editor.html has `Aggregations` section but missing `Post-Aggregations`.
@godfreyhe 's [original](https://github.com/godfreyhe/grafana-plugins/blob/master/features/druid/partials/query.editor.html#L490-L582) has to be ported.

[2016-07-29 21:04] abhisant commented on #1
Ok. Thanks. I will have a look into it.

[2016-07-30 00:35] knoguchi commented on #1
I [modified](https://github.com/knoguchi/druidplugin/commit/87131503a56ad8a09396319d3bd477f92d4a1664) the html.  Arithmetic type worked with a bit of fix in JS.  Quantile type didn't work but didn't investigate.

[2016-08-01 17:35] abhisant commented on #1
ok, thanks. This repository is currently under review by Grafana team. Once that is done and the plugin is available on grafana.net, I will add the changes you requested.

[2016-08-10 18:07] abhisant commented on #1
@knoguchi : The plugin is avaiable on grafana.net now.
Do you want to issue a pull request of the changes that you already made. Else, I will make those changes and debug the "Quantile type" issue.

[2016-10-19 09:12] yinzhiqiang opened #2 "Can add approxHistogramFold to Aggregators"
when try to add approxHistogramFold  tag to Aggregators at QueryEditor, get follow erxception:
boot.1649cbaa.js:36 TypeError: this.validateSimpleAggregator is not a function
    at Object.DruidQueryCtrl.validateApproxHistogramFoldAggregator [as approxHistogramFold](query_ctrl.ts:452)
    at DruidQueryCtrl.validateTarget (query_ctrl.ts:546)
    at DruidQueryCtrl.addAggregator (query_ctrl.ts:257)

[2016-10-19 17:58] abhisant commented on #2
Thanks for reporting the bug. I will have a look at it and get back to you.

[2016-10-22 21:16] abhisant commented on #2
Looked into it, identified the bug. Will try to have this available on Grafana in next couple of weeks. Will be fixing one more existing bug with this.

[2016-10-25 18:13] knoguchi commented on #2
The problem is the functions in the `aggregatorValidators` lookup table is not bound to the `DruidQueryCtrl` instance.  You need `.bind(this)` just like the ones in `queryTypeValidators` lookup table.

[2016-10-31 23:53] abhisant commented on #2
@ yinzhiqiang, fixed and committed. You can copy the files in dist to the data/plugins/abhisant-druid-datasource and try it out. I will release the new version when I will have some more updates.
Let me know if you face any issues, else I will close this.

[2016-12-26 03:29] hexchain opened #3 "Grafana 4.0 support"
First, thank you for the amazing plugin!

Right now this plugin does not seem to support Grafana 4.0. It gaves me the following JS error when trying to add a query:

[code]

[2016-12-26 07:10] abhisant commented on #3
Thank you for reporting the bug. I will surely have a look into it and let
you know.

On Sun, Dec 25, 2016 at 7:29 PM Hexchain Tong <notifications@github.com>
wrote:

[2016-12-26 07:21] hexchain commented on #3
I've tried replacing `_.pluck(array, field)` with `array.map(i => i[field])` which works great so far, except in a few places the `array` can be undefined.

Also, could you please add proper build scripts (like in http://grafana.org/blog/2016/04/08/timing-is-everything.-writing-the-clock-panel-plugin-for-grafana-3.0/) to this repo? Should be easier to contribute then.

Thanks!

[2016-12-27 23:22] abhisant commented on #3
Sure, thanks.
@hexchain , I will be traveling out of the country for a month and will be back on Feb 06. I am trying to windup my stuff before I leave. Will try my best to address your issue. Else, will work remotely and get back to you as soon as I can.

[2016-12-27 23:38] abhisant commented on #3
Looks like this got introduced when the Grafana team added the following change:
upraded lodash to 4.15.0, closes #6021
Saw this in one of the datasource plugins:
https://github.com/grafana/grafana/commit/649d9f91772c96d144ce770dce9d6b2a754ce227

[2017-01-02 09:15] rzarajczyk commented on #1
Hi, what is the status of this issue? Will you merge those changes?

[2017-01-03 19:13] knoguchi commented on #1
My fork has diverged a lot for my own needs.  Query editor UI is different, resulting configuration data structure is different (not compatible with Abhi's).    So it's not mergeable.

[2017-01-03 19:32] knoguchi opened #4 "add build scripts"
Please add Grunt or Gulp build scripts.    I need the reliable build system so I can contribute to the project.

[2017-01-04 10:59] rzarajczyk commented on #1
thank you

[2017-01-07 11:37] yinzhiqiang commented on #2
@abhisant，I have test the fixed, it works now, thanks.

[2017-01-07 11:37] #2 closed

[2017-01-09 06:11] abhisant commented on #4
Sorry for the late response. I am currently traveling out of the country for 1 month on a vacation ( with intermittent internet connectivity). I will try to find some time out of my vacation to add this.

[2017-01-09 06:12] abhisant commented on #1
Sorry for the late response. I am currently traveling out of the country for 1 month on a vacation ( with intermittent internet connectivity). I will try to find some time out of my vacation to add the build scripts.

[2017-01-17 14:51] yacir commented on #3
@abhisant any news?

[2017-02-06 20:59] hmermerkaya commented on #4
I need  build scripts too, I could make some contributions to the project.
Based on our needs, I  added the following features to Kenji Noguchi work.
1. Shifting time forward so that one can compare for an instance the data of the last week with that of this week in the same time period.
2. Implementing predefined post aggregations and their relevant aggregations read from json file sitting in dis

[2017-02-07 02:48] abhisant commented on #4
I am back today late afternoon. I will start working on this repo tomorrow
onwards one bullet at a time.

On Mon, Feb 6, 2017 at 12:59 PM Hamit Mermerkaya <notifications@github.com>
wrote:

I need build scripts too, I could make some contributions to the project.

Based on our needs, I added the following features to Kenji Noguchi work.

   1. Shifting time forward so that one can compare for an i

[2017-02-07 21:53] knoguchi commented on #4
This plugin made its way to the [official plugin repo](https://grafana.net/plugins/abhisant-druid-datasource/installation).  It means this repo is responsible for the backward compatibility since the general users started using it.  It lacks Druid's critical features such as PostAggregator, granularity=all, timezone handling, the filter expressions that support AND OR, etc etc.

It was too much wo

[2017-02-07 23:11] knoguchi commented on #3
I suggest `_.map(objects, field)` or `_.map(objects, (e) => {....return ...})`syntax.  This way it wouldn't fail.

[2017-02-08 01:42] abhisant commented on #3
Just updated the datasource.js and replaced pluck with map.
"TypeError: _.pluck is not a function" -> This looks to be resolved. Yet to test remaining scenarios.

Please copy the files from dist folder and replace it with the files in the folder:
grafana-<4.x.x>/data/plugins/abhisant-druid-datasource/.

[2017-02-09 14:15] yacir commented on #3
Thanks @abhisant !

Might it be possible to release a new version (0.2.1) on [grafana plugins](https://grafana.net/plugins) ?

Thanks you in advance !

[2017-02-09 18:10] abhisant commented on #3
@yacir : I am working on adding build scripts so that folks can contribute to the project. I was thinking on waiting for couple of more commits before releasing a new version.
Will it be possible for you to copy the dist files in the datasource till then ? If not I can work with the Grafana team to have it released.

[2017-02-10 20:34] abhisant commented on #4
Added build scripts.

[2017-02-10 20:34] #4 closed

[2017-02-10 20:36] abhisant commented on #3
Closing: TypeError: _.pluck is not a function -> The error no more exists. In case of any Grafana 4.0 support/issues, please open a new issue. I will release a new version soon. Will wait for next 1 week if there are any new commits / pulls to be included in the new version.

[2017-02-10 20:36] #3 closed

[2017-02-15 15:45] tutunci opened #8 "error on Timeseries with Grafana 4.1.2"
Hi,
I've update Grafana from 3 to 4.1.2 .
After that, I've had issues that I've seen was fixed recently.
My charts also uses Timeseries and here I've the error described below.

Error title:
Cannot read property 'toString' of undefined

Error description:
`TypeError: Cannot read property 'toString' of undefined
    at a.isMsResolutionNeeded (http://10.20.50.249:3000/public/app/boot.6d63bd8b.js:21:

[2017-02-15 19:08] abhisant commented on #8
Let me have a look into it.

[2017-02-17 14:16] evgmitskevich commented on #8
I have the same issue. Looks like only topN charts are affected.

[2017-02-17 18:41] abhisant commented on #8
I am working out with Grafana team to understand what exactly changed. According to them there is no breaking change in the plugin except the Lodash version upgrade. They have asked for further details, please follow the link below.

https://github.com/grafana/grafana/issues/7581

[2017-02-18 02:45] knoguchi commented on #8
It works fine for me.  I'm using the HEAD of Grafana v4.1.x branch, compiled from source, and the HEAD of master branch of the druidplugin compiled from source (Thanks for the build script!).

[2017-02-19 01:48] abhisant commented on #8
@knoguchi : It's surprising because even I am seeing the issues in topN and groupBy.

[2017-02-19 01:52] abhisant commented on #8
git diff dist has lots of differences - Yes, I have just checked in build related files..

[2017-02-19 05:03] knoguchi commented on #8
Created PR #9 to fix the topN.  I noticed my compilation had a problem that I reported earlier.

[2017-02-19 18:48] abhisant commented on #8
@knoguchi : Thank you for all the pull's and identifying the issue. Instead of a branch I was thinking to put a git tag, because anyways when I release the grafana version, they take the commitId and all commits before the particular commitId are taken into the consideration. Please let me know if you are ok with creating a tag instead of branch.

[2017-02-19 19:45] knoguchi commented on #8
tag is fine.

[2017-02-21 23:23] abhisant commented on #8
Issued a pull request to the Grafana team to release 0.0.3 and 0.0.4. (Release notes at: https://github.com/grafana/grafana-plugin-repository/pull/99)

The fix is available in the dist folder. Till the version is released the dist files can be copied to fix the issues.

[2017-02-21 23:27] #8 closed

[2017-02-22 17:04] tutunci commented on #8
Thanks!
I've manually updated the plugin and now it's working fine.

Thanks a lot!
M.

[2017-02-27 18:19] abhisant commented on #8
https://grafana.net/plugins/abhisant-druid-datasource?version=0.0.4

[2017-03-03 02:43] knoguchi opened #13 "Support SQL of the upcoming Druid 0.10"
The upcoming Druid 0.10 supports SQL query.  I would like to support the feature.
http://druid.io/docs/0.10.0-rc1/querying/sql.html

The server side SQL is more promising than the client side PlyQL and Plywood.  I'm hoping the SQL syntax is expressive enough to support the full capability of the native Druid queries.

If so, we will not have to write filters, aggs, post-aggs, time bucketing, or sw

[2017-03-06 23:08] abhisant commented on #13
Sure. Thanks @knoguchi

[2017-05-10 09:51] PanYifeng commented on #1
Hi,  Can anyone tell me when could druidplugin suppert Post Aggregation feature?

[2017-05-11 21:48] nanittu commented on #1
Is there a rc version this is merged into ? we are very interested to check this for our use case any details would help us.

[2017-05-11 22:58] abhisant commented on #1
@knoguchi are you planning to merge this ?

[2017-05-12 06:27] knoguchi commented on #1
Sorry, no plan.  As I mentioned in this thread, my branch has diverged significantly.
My fork has changed the filters, aggs and post aggs to support math expression than the single field dropdown.  On top of that, I'm moving on to SQL queries for Druid 0.10.

[2017-05-12 20:14] knoguchi commented on #13
I decided to add Druid to https://github.com/sraoss/grafana-sqldb-datasource instead of this plugin.

[2017-05-12 20:14] #13 closed

[2017-05-15 09:58] elloooooo opened #14 "Any panel type support the result of approxHistogramFold query in druid?"
When I you use approxHistogramFold query, There is no data points in Graph or Table panel. Any suggestion or doc for me？

[2017-05-16 00:16] abhisant commented on #1
@PanYifeng I will try to add this or someone from my team will work on this and add this feature soon.

[2017-05-30 18:32] nanittu commented on #1
@abhisant any update on the feature addition ?

[2017-05-30 20:51] pkarmaka commented on #1
I and @nikhil2406 have just started working on this. Will get back to you on the ETA soon.

[2017-05-30 20:53] abhisant commented on #1
Thanks @pkarmaka  and @nikhil2406.

[2017-05-31 06:28] CarsonCao opened #15 "Custom templates do not work in Graph -> Matrics"
I created a custom template variable named 'items' with values 'url' and 'ip'. And I wanted to use it in dimension of matrics  in order to  allow the graph to dynamically display different information. But it does not work.
However ,the template variable in title works well.

The panel JSON like below.
----------------------------------------------
{
  "aliasColors": {},
  "bars": true,
  "dashLen

[2017-05-31 17:17] knoguchi commented on #15
Here is a quick hack to apply the template variable on groupBy field.

[code]

[2017-06-01 04:25] CarsonCao commented on #15
@knoguchi How about the dimension field?

[2017-06-01 07:04] CarsonCao commented on #15
@knoguchi Thank you for your solution. I modified the code according to your way on dimension field, but it did not work. What should I do?

[2017-06-01 15:02] knoguchi commented on #15
The code that I showed is for groupby query only.

Please select groupBy and put the template variable name in the dimension
field.  If the template variable name is x, pls put $x in the dimension
field.

On Thu, Jun 1, 2017 at 12:04 AM CarsonCao <notifications@github.com> wrote:

[2017-06-02 10:41] CarsonCao commented on #15
@knoguchi I know that. It works for GroupBy.But it don't work in TopN.

[2017-06-02 16:49] knoguchi commented on #15
You didn't even mention TopN besides the JSON.    I hoped you'd get the idea as to how the template variables work in Grafana.   It's easy to apply the same fix for other fields.

Created a PR #16.

[2017-06-06 19:29] nanittu commented on #1
@pkarmaka any ETAs on this ? Sorry for the push. we are on the brink of making a time sensitive product decision.

[2017-06-06 21:25] pkarmaka commented on #1
@nanittu  ETA is around 25th-29th June..

[2017-06-13 22:31] nikhil2406 commented on #1
@nanittu we have completed this change and currently in process of verifying it. We'll sending out pull request soon.

[2017-06-13 22:44] abhisant commented on #1
Thank you @nikhil2406  @pkarmaka for quick turnaround.

[2017-06-14 16:17] nanittu commented on #1
@abhisant @pkarmaka @nikhil2406 Thank you ! appreciate your timely response.

[2017-06-14 20:19] #15 closed

[2017-06-14 20:20] abhisant commented on #14
Provided the doc through email. Long back, please let me know if you still have this issue.

[2017-06-14 20:20] #14 closed

[2017-06-14 23:28] abhisant commented on #1
@nanittu : @nikhil2406 and @pkarmaka issued a pull, it was reviewed / merged and tested. The feature is present in the repo, you can copy the dist contents and update your plugin. I will release it soon as a part of Grafana plugin.
Please let us know if you face any issues.

[2017-06-15 18:45] #1 closed

[2017-06-26 19:04] nanittu commented on #14
@abhisant can you email the doc to me too ? mithun.yarlagadad@gmail.com

[2017-06-26 19:28] nanittu opened #19 "Doc needed for the approxhistogramfold option"
I couldn't get the quantiles data i want to with the post aggregation option and "approxhistogramfold" aggregator. the panel returns with no data points. Is there a usage guide that can help me with this ?
Also i see that "fn":+ is added to the post aggregator is that expected ?
<img width="1426" alt="screen shot 2017-06-27 at 10 18 06 am" src="https://user-images.githubusercontent.com/26261686/27

[2017-07-07 08:45] mailbaoer commented on #19
same too, with no data points! 😭

[2017-07-10 10:22] sundaramprasad opened #21 "Alert System support"
Hello,
Does Grafana support alerting with druid?

Regards,
Sundaram

[2017-07-10 21:49] abhisant commented on #21
The plugin works on Grafana V4. Although I didn't get a chance to test the alerting yet. Will get back to you on this.

[2017-07-10 23:33] abhisant commented on #19
This doesn't help you ?
http://druid.io/docs/latest/development/extensions-core/approximate-histograms.html

[2017-07-11 05:03] sundaramprasad commented on #21
I am using the druid plugin and its working fine for graphs and charts. Although I am not able to use alerting. Do let me know of any updates about this.

Thanks and Regards,
Sundaram

[2017-07-12 05:08] sundaramprasad opened #22 "Issue with group by query type"
Hello,
I am trying to run a group-by query in Grafana. I used a pie chart to display data and granularity of 15 minutes. Ideally it should create a pie chart of the given group-by column with distinct elements in it and it should get updated every 5 second (refresh interval is 5 secs) for every 15 minutes interval like what happens in time series query with 15 mins granularity.
But the data is not

[2017-07-12 18:39] abhisant commented on #22
@sundaramprasad : I tried it, it's getting updated.
Are you observing the query being fired . every 5 second in the network tab of your browser. Is the data changing by a noticeable amount ?

[2017-07-13 06:23] sundaramprasad commented on #22
@abhisant : yes i observed and query is being fired every 5 seconds. And data is also changing by noticeable amount as it is clearly visible in timeseries query. Basically I have created a graph to see the realtime count of each values in a dimension. the dimension has only two possible values (yes and no). So i want to see the count of yes and no with incoming logs. But it's not getting plotted o

[2017-07-13 06:45] sundaramprasad commented on #22
@abhisant : okay i got the problem. I was limiting the no of results to 2, but limiting it to 2 doesn't fetches more than 2 results. I misunderstood limit as limit for the number of distinct values in the given column. Now it's working as expected. Thanks!

[2017-07-13 10:17] #22 closed

[2017-07-13 16:16] nanittu commented on #19
@abhisant it appears that the plugin only supports quantiles on fields that have histogram sketches at ingestion time. I got it working only with those kind of fields. The expectation was it could work for both query time and ingest based

[2017-07-26 01:47] amoussoubaruch commented on #15
hi @CarsonCao

I'm just starting using grafana and druid. How can you create template variable. I do not find any documentation for that.
Can you please send my a link or any exemple can help me to advance.

Thanks

[2017-07-26 02:00] amoussoubaruch opened #23 "Template variable using druid dimension"

[2017-07-26 06:42] amoussoubaruch opened #24 "Cardinality aggregator with grafana pluging"
Hi,
For aggregation, can i use Cardinality aggregator with this pluging?

[2017-07-26 14:15] #23 closed

[2017-08-01 00:23] nikhil2406 commented on #24
@amoussoubaruch all existing aggregators works only with metric values as of now. I dont see cardinality aggregation option implemented currently.
was checking [druid documentation](http://druid.io/docs/latest/querying/aggregations.html) for cardinality aggregator which says "_Please note that this aggregator will be much slower than indexing a column with the hyperUnique aggregator_"
Not sure if

[2017-08-03 09:43] amoussoubaruch commented on #24
@nikhil2406  Thanks for your answer!

In my dataset i have only one metric value. I have many dimension columns. i want to do real time monitoring with IOT data that i take from kafka. One field is hostname. Data are provided by more country.
My first goal is count how many distinct hostname for each country i have?
Can you thinks that is it possible?

Thanks,
ADB

[2017-08-03 13:22] Gauravshah commented on #24
would hyperUnique not solve your problem ? It would be approximate though.

[2017-08-11 16:02] kvsurii opened #27 "Question - Does this support logical filters?"
Thanks for creating this plugin! I have a question regarding filters.
From what I see, we can "add tag" to add extra filters. Does this refer to an "and" type between each filter? Is there any way we can specify other logical filters like "OR" or "NOT".

[2017-08-11 23:28] abhisant commented on #27
OR can be done by using "Add Query", the plugin will plot multiple lines on the same graph panel and NOT can be done using negation.

[2017-08-12 02:58] Gauravshah commented on #27
@kvsurii if you want to plot it on the same line you can use regex filter with multiple values that would be close to single file OR. Multi field OR would be complicated on UI

[2017-08-13 03:11] #27 closed

[2017-08-14 00:57] kvsurii commented on #27
Thanks  for the replies!

[2017-08-17 00:38] nikhil2406 commented on #21
@sundaramprasad i tried checking this plugin with grafana v4.4.0. I see this error in alert tab. Are you also getting similar error? I'm not sure if this error is due to limitation in plugin or as the error says problem with 'datasource' itself.

<img width="772" alt="screen shot 2017-08-16 at 5 35 58 pm" src="https://user-images.githubusercontent.com/2122777/29391057-7575bcac-82a9-11e7-9de4-e30ad

[2017-08-17 16:45] sundaramprasad commented on #21
@nikhil2406 : yes, I am also getting the same error. I don't exactly understand what the problem is. Probably plugin doesn't yet support alerting.

[2017-09-06 09:04] mhshimul commented on #21
I'm also getting the same error.

[2017-09-08 23:12] pparkar opened #31 "Support for latest version of lodash"
Can you please update the script to support latest version of lodash
https://github.com/grafana-druid-plugin/druidplugin/blob/master/dist/query_ctrl.js#L285

Also any such occurrence elsewhere to use 'includes' over 'contains'. The above fix will allow the post-aggregator to be functional in grafana.

[2017-09-09 01:10] pkarmaka commented on #31
@pparkar Are you facing any issue with the post agg feature?

[2017-09-10 06:00] pparkar commented on #31
I am not able to add/invoke the post aggregator with the latest lodash version.
https://lodash.com/docs/4.17.4#includes

Replacing 'contains' with 'includes' fixes the issue.
<img width="1433" alt="lodash-druid-grafana-error" src="https://user-images.githubusercontent.com/4753866/30246493-7504bcea-95b0-11e7-9575-e5ab285e616b.png">

[2017-09-12 15:08] andresgomezfrr opened #32 "The 'null' value can't be filter"
When you have a dimension without value it is `null`, but if you try to filter it using the UI it try to filter to the STRING "null" instead of `null` value.

[2017-09-12 20:03] pparkar commented on #21
Any updates on this? Is this limitation in druid or grafana?

[2017-09-12 20:43] abhisant commented on #21
This is the limitation of the plugin. We are trying to find some time in our schedule to implement it, but it will take some time.

[2017-09-13 13:01] mhshimul commented on #32
You can use regex filter with value .+ or .*

[2017-09-13 13:05] andresgomezfrr commented on #32
ok, this workaround works fine! Thanks :)

Could be interesting do some development to do it on selector filter??

[2017-09-18 21:11] #32 closed

[2017-09-18 21:13] abhisant commented on #31
@pparkar , thanks for reporting it. You are welcome to send a pull, else I will get this done soon.

[2017-09-18 21:13] #24 closed

[2017-09-19 05:33] kvsurii opened #34 "Autofill is throwing errors"
When I try and autofill, I get this error.

<img width="1427" alt="screen shot 2017-09-18 at 10 30 54 pm" src="https://user-images.githubusercontent.com/7862287/30577148-2f01e11a-9cc1-11e7-9abc-83e347a26f59.png">
To fix this, you will need to replace "target.datasource" to "target.druidDS" in https://github.com/grafana-druid-plugin/druidplugin/blob/master/src/datasource.js#L78

[2017-09-19 15:05] Gauravshah commented on #34
Can you also send your grafana version ? It works with grafana 4.4.1. Been using on production

[2017-09-19 15:26] kvsurii commented on #34
Grafana version - 4.5.1

[2017-09-19 19:05] Gauravshah commented on #34
Out on a vacation as of now. Will look into it after 2 weeks.

On Tue, 19 Sep 2017 at 9:02 PM, Surya Vijayaraghavan <
notifications@github.com> wrote:

[2017-09-19 22:17] pkarmaka commented on #34
For me, I checked with v3.1.1

[2017-09-28 10:28] shyamremella opened #35 "Roadmap OR feature list"
Is there a roadmap or list of features planned for this plugin with a timeline?

I am interested in Alerting and Stats extension capabilities

Thanks
Shyam

[2017-10-05 07:58] Gauravshah commented on #34
@kvsurii can we do a screen share ? skype : "gauravmshah"
I am unable to see this on my production:
<img width="1404" alt="screen shot 2017-10-05 at 12 53 12 am" src="https://user-images.githubusercontent.com/620559/31216198-9fb2ede8-a967-11e7-9d09-512a525b6610.png">
using grafana 4.4.1

[2017-10-05 17:55] #34 closed

[2017-10-05 23:32] chinseone opened #37 "Druid plugin doesn't work on latest Grafana master"
I built Grafana from master(0c31c7b10619088784bd28b31a4948e43d05d2bf) and installed Druid plugin as usual(putting it under /data/plugins folder), however when I tried to save Druid setting, following error occurred:
![error](https://user-images.githubusercontent.com/3478165/31256932-4df002d8-a9ea-11e7-820b-baf9b76d5144.jpg)
I checked Grafana code which says

But in [module.d.ts](https://github.com

[2017-10-05 23:57] abhisant commented on #37
Hi Cheng,

Could you please try cloning the latest changes. There are few fixes that went today morning.

Thank you,
Abhishek Sant

[2017-10-06 00:05] chinseone commented on #37
Hi Abhishek,

Thanks for your quick reply. I tried latest code, but the error still happened.

Regards,

Li

[2017-10-06 00:07] abhisant commented on #37
@Gauravshah : Is this because of any of your changes. Could you please help @chinseone . Else I can jump in if it's not related to your changes.

[2017-10-06 16:40] Gauravshah commented on #37
@abhisant can you please take a look into it ? stuck for next couple of days

[2017-10-06 19:27] chinseone commented on #37
Hi @abhisant ,

Are you able to reproduce this issue? My environment is:

node 6.9.0/8.6.0, both has same error
npm 3.10.8
Go 1.9

Thanks,

Li

[2017-10-06 19:52] abhisant commented on #37
I will get back to you on this.

[2017-10-06 20:14] pkarmaka commented on #37
I am on vacation currently, will be back in 3days. I can also have a look then. Thanks @abhisant for checking this.

[2017-10-10 23:57] chinseone commented on #37
Hi @abhisant , just wanted to follow up on this issue. Any updates?

[2017-10-11 00:21] abhisant commented on #37
@pkarmaka could you please look into it

[2017-10-11 20:42] chinseone commented on #21
I'm working on implementing backend support for Druid alerting in Grafana, some of the queries types are already working. Finishing some enhancement...

[2017-10-13 18:37] pkarmaka commented on #37
@chinseone which grafana version are you using

[2017-10-13 18:46] chinseone commented on #37
@pkarmaka I build from master commit(0c31c7b), which is "4.6.0-pre1"

[2017-10-16 08:57] pkarmaka commented on #37
Not sure exactly what but something may have changed in the Grafana master code. If you try 4.5.2, that's working.

[2017-10-16 21:33] chinseone commented on #37
Do you think it's a plugin issue or Grafana's problem? If the later is the case, their next release will break stuff :(

[2017-10-16 21:55] abhisant commented on #37
@pkarmaka : Can you check with the Grafana team? May be raise an issue or a query.

[2017-10-16 22:20] nikhil2406 commented on #37
@pkarmaka you are right. I checked grafana commit history, there seems to be some changes pushed related to systemjs and webpack module loading. I got same error in grafana tag 'latest' and '4.6.0-beta1'
Druid plugin is working fine with grafana 4.5.2.

![screen shot 2017-10-16 at 3 17 29 pm](https://user-images.githubusercontent.com/2122777/31637774-2b3a3396-b285-11e7-8515-dc4d7c69a0e7.png)

[2017-10-18 09:52] daniellee commented on #37
This should be fixed in the latest Grafana master. We upgraded SystemJS which broke the import syntax for some plugins. We changed the SystemJS configuration and the Druid data source should work now.

[2017-10-18 17:09] chinseone commented on #37
Thanks @daniellee and everyone for fixing this!

[2017-10-18 17:53] #37 closed

[2017-10-18 17:57] #31 closed

[2017-10-18 18:22] kvsurii commented on #37
Thanks guys!

[2017-10-26 19:38] clarkent86 opened #39 "Post Aggregations Queries have disappeared."
In at least Grafana version 4.4.2+ (tested on 4.6.0 as well) the following issue seems to have resurfaced: https://github.com/grafana-druid-plugin/druidplugin/issues/1

I am running the Druid plugin version 0.0.4

This issue is not present in Grafana version 4.2.0

Am I possibly missing a toggle to enable this feature?

[2017-10-26 20:59] tutunci commented on #21
Hi
is there any update on this?

Thanks
Maurizio

[2017-11-07 03:20] shyamremella commented on #21
@chinseone; were you able to push the backend support for Druid. If its any shape or form, would like to give it a try :)

[2017-11-07 20:33] chinseone commented on #21
@tutunci @shyamremella thanks for following up, I've created a PR https://github.com/grafana/grafana/pull/9815, please let me know for any suggestions. Thanks.

[2017-11-18 03:16] ipflowss opened #42 "Druidplugin does not draw points"
The druidplugin does not draw points.   I can choose the a druid datasource and set select to type and select a dimension but no points appear on the chart.  What some things I should check?

running grafana 4.5.2
druidplugin src version is 0.0.4

[2017-11-22 20:04] pkarmaka commented on #39
@clarkent86 Is the post agg row not present or the queries not firing?

[2017-11-27 15:03] lfblue opened #43 "Decrease minimal granularity"
hi!

in our company we use druid for realtime monitoring with 1s interval. As i understand, current minimal granularity is 1m. How about to change it? I could do it by myself, but my web development skills is ugly :C

[2017-11-27 17:44] kvsurii commented on #43
Will take a look at this.

[2017-11-28 18:58] pkarmaka commented on #43
We can change the custom granularity to include option for second, but lets keep the default as minute.

[2017-11-28 21:38] pkarmaka commented on #42
@ipflowss Have you tried your druid query separately to confirm if the metric is returning data?

[2017-11-29 16:30] tollmanz commented on #39
I'm experiencing the same problem with Grafana 4.6.1 and Druid Plugin 0.0.4. I do not see the post aggregation rows in the UI.

[2017-11-29 17:17] tollmanz commented on #39
As an update, I do now see post aggregations; however, the published version hosted by Grafana (https://grafana.com/api/plugins/abhisant-druid-datasource), was last updated in February, which does not include the fixed discussed in #1 and merged with f6ad92c855f34dd6a8c151adcdb654d5259a2f0e.

Can the plugin authors push an update to Grafana's plugin hosting? I think this will help clear up confusi

[2017-11-30 15:51] clarkent86 commented on #39
As @tollmanz said, I do not see the row at all for post aggregations @pkarmaka.

[2017-11-30 16:25] tollmanz commented on #39
@clarkent86 If you manually install the plugin from master, do you see the row again?

[2017-12-01 16:04] clarkent86 commented on #39
@tollmanz I just took you at your word, I assume it would! If I get some time today I will confirm & report back. The issue with this is we are only sourcing Grafana hosted plugins so I would be interested in seeing the official version here getting hosted by Grafana.

[2017-12-01 17:43] gavinmcnair opened #44 "Could you please do a new release for a stable version"
The last stable version was in February.

[2017-12-01 19:39] pkarmaka commented on #39
Thanks for the update @tollmanz. I'll update the version hosted by Grafana.

[2017-12-01 19:43] #19 closed

[2017-12-04 04:38] knoguchi commented on #43
none is rarely useful but if we add it why not other supported granularities as well?  Per Druid documentation, the supported granularity strings are: all, none, second, minute, fifteen_minute, thirty_minute, hour, day, week, month, quarter and year.

[2017-12-04 05:22] kvsurii commented on #43
Agree that none is rarely useful. It was just something that I added to address this issue. We could add all other granularities as well. Let me know if you think I should add it. I don't see a use of quarter and year granularity from a grafana usecase though.

[2017-12-08 16:26] gavinmcnair opened #46 "Trying to add cardinality support"
Cardinality is supported in Druid but doesn't appear to be part of the plugin.

While its appreciated that hyperlogs are needed in most use cases sometimes cardinality is useful.

The ongoing effort is at

https://github.com/gavinmcnair/druidplugin

Please feel free to tell me anything im doing wrong since i am no JS expert.

[2017-12-08 21:18] pkarmaka commented on #44
This will be taken care of

[2017-12-11 16:36] gavinmcnair commented on #46
A further update has been made to this so that it doesn't error. If there is an angular expert who knows how this can be neatly refactored please speak up :)

[2017-12-11 17:32] kvsurii commented on #46
you can send out a PR when done :) we can review it

[2017-12-18 04:02] tianliplus opened #47 "Is templating query working with druid datasource?"
Hi, I'm trying to use druid datasource in dashboard templating. But no matter how I configure the query options, I always got the following error message:

Templating
Template variables could not be initialized: t.metricFindQuery is not a function

Is templating supported by druid plugin? If true, then where how can I properly configure the query options? Any documents or suggestions are appreciat

[2018-01-04 15:40] gavinmcnair commented on #46
I have created a PR https://github.com/grafana-druid-plugin/druidplugin/pull/48 please do review.

[2018-01-06 16:33] RestfulBlue commented on #43
i think main problem using none granularity with grafana is empty buckets.
according to docs :
http://druid.io/docs/latest/querying/timeseriesquery.html
druid support possibility to skip empty buckets adding flag skipEmptyBuckets to context

{
  "queryType": "timeseries",
  "dataSource": "sample_datasource",
  "granularity": "day",
  "aggregations": [
    { "type": "longSum", "name": "sample_name1

[2018-01-17 07:22] ShilpaSivanesan opened #50 "Need Granularity (Day , Hour , Minute ) as variable filter in grafana templating"
Grafana template provides filters to be applied across panel . I need a way to send granularity as a filter which is toggle between hourly/daily etc
![screen shot](https://user-images.githubusercontent.com/34906268/35030403-b13e8380-fb13-11e7-9bf4-36548f205381.png)

[2018-01-17 19:56] dene14 commented on #44
@pkarmaka how do you know? :)

Guys, seriously, can you please bump the version? Really suffering here.

[2018-01-17 20:00] pkarmaka commented on #44
Sorry for the delay. Will do it today. You can get the code from here as well. The dist is checked in.

[2018-01-17 20:20] dene14 commented on #44
Right, but when you use official grafana docker images there is the only one sane approach to install plugins - from grafana's repository.

That's why it hurts some people.

[2018-01-18 09:26] pkarmaka commented on #44
https://github.com/grafana/grafana-plugin-repository/pull/221

[2018-01-18 11:22] dene14 commented on #44
Much appreciated!

[2018-01-18 15:58] gavinmcnair opened #51 "Is this project being maintained?"
I was wondering if this project is being actively maintained.

I see the occasional direct commit to master (which look like they are fixing the issues of an individual user who has commit access).

I would like to see a more active community around this very useful plugin. There is still a lot of untapped potential.

[2018-01-18 17:49] pkarmaka commented on #51
Thanks for the feedback. There has been some reduction in the number of people maintaining this. We'll try to make it better. It's an open community.. everyone is welcome to make contributions to keep this running.

[2018-01-18 17:49] #51 closed

[2018-01-18 17:56] #44 closed

[2018-01-19 08:04] pkarmaka commented on #39
https://github.com/grafana-druid-plugin/druidplugin/issues/44

[2018-01-19 08:04] #39 closed

[2018-01-19 08:06] #42 closed

[2018-01-25 13:57] gavinmcnair commented on #51
I know this issue is closed but people are contributing. There are 4 pull requests at the moment. We should be trying to get a merge in every few weeks.

[2018-01-31 16:13] dene14 opened #53 "Documentation on how to build queries"
Hello there!

It's rather not an issue but a question...

I've failed to find out any comprehensive documentation, so I would like to ask here to clarify if functionality hasn't been implemented yet or it's me doing something wrong...

1. For me it seems that nothing except "select" query type is working, any other like "TopN" or  "Timeseries" show nothing, in query inspector I have nothing but a

[2018-01-31 16:33] christoph-buente commented on #53
We also successfully ran exploratory queries for data dimensions and column names. But when it comes to actually query timeseries data, nothing is returned. And it's really hard to track, if it is just not supported, or the query builder dies, or the resulting query is not compatible with druid.

[2018-02-07 09:07] pkarmaka commented on #53
@dene14
1. Users in my company have been using TopN or Group by druid queries. For confirmation, I even tried out a Top N query and it looked fine. Probably the best way for you to confirm whether you are giving the right parameters is to post to your datasource api using Postman. Also , please check docs http://druid.io/docs/latest/querying/aggregations.html  (among the ones that we support) for

[2018-02-07 09:32] #43 closed

[2018-02-07 14:41] dene14 commented on #53
for #3 yes, I'm getting repetetive value for the same object, count of
repetitions controlled by the switcher from above. I'm sure that our
aggregate doesn't have such repetitions, so was wondering why it's working
like that.

Maybe Druid version is a problem? we're still on 0.9.2 however I haven't
noticed any significant change in interfacing endpoints in the changelog...

2018-02-07 12:07 GMT+03

[2018-02-08 15:06] andresgomezfrr commented on #47
Any update?? I have the same question ... thanks!!

[2018-02-08 21:49] robbig2871 opened #54 "support for granularity : week, month, quarter , year"
Regarding druid documentation http://druid.io/docs/latest/querying/granularities.html supported granularity strings are: all, none, second, minute, fifteen_minute, thirty_minute, hour, day, week, month, quarter and year.

driudplugin limitation: customGranularities = ['minute', 'fifteen_minute', 'thirty_minute', 'hour', 'day', 'all'];

Please add support for all supported granularity.

[2018-02-09 00:49] pkarmaka commented on #47
I don't think its implemented. Probably the author @abhisant would be able to shed some light. But AFAIK , its not.

[2018-02-09 00:52] pkarmaka commented on #54
https://github.com/grafana-druid-plugin/druidplugin/pull/45
Expecting more changes here.

[2018-02-09 00:52] #54 closed

[2018-02-13 04:11] NiallTsao opened #55 "Can provide some samples or documents"
I spent some time, but only fixed the timeseries count in the graph
Can provide some samples or documents
For example , how to connect singlestat panel and druid  , how to use topn in this plugin …

[2018-02-16 07:46] RestfulBlue commented on #47
its not implemented. i added it to myself using druid SQL. writing query in template variable => send to druid => convert each cell as separated value for variable. I can create PR with that, but i refactored plugin a lot( create datasource.js using ts => datasource.ts, so plugin only ts, without mixing ts+js) , also remove old js syntax.

[2018-02-16 08:10] andresgomezfrr commented on #47
@RestfulBlue I can't see anything on your fork, could you share that?

[2018-02-16 14:02] gavinmcnair commented on #46
@kvsurii can someone please do a review?

[2018-02-17 09:18] RestfulBlue commented on #47
will share it when come back to home(probably next week).
I also have some questions to devs @pkarmaka . Currently plugin use typescript and outdated grunt-typescript in deps , it depend on contextify which not supported anymore, so npm install fails(Win10). Do we really need a typescript? i can try refactoring project, removing all typescript files(replacing with js) and remove unused deps

[2018-02-19 14:52] RestfulBlue commented on #47
shared in templating branch. Main function for templating [here](https://github.com/RestfulBlue/druidplugin/blob/templating/src/datasource.ts), line 126

    metricFindQuery(query: any) {

        let druidSqlQuery = {
            query: query,
            context: {
                "sqlTimeZone": this.periodGranularity
            }
        }

        return new Promise((resolve, reject) => {

[2018-03-06 03:32] ipflowss opened #57 "Install druidplugin for grafana 4.x on non-connected host"
Hi there,

What is the easiest way to install the druidplugin for grafana 4.x on a host that is not connected to the internet?

[2018-03-20 02:05] mhshimul commented on #57
Look into this doc:
http://docs.grafana.org/plugins/installation/#installing-plugins-manually

[2018-05-11 14:32] Daphneitec commented on #47
+1

[2018-05-30 14:14] PetarLotrean opened #60 "Plugin doesn't send any requests to druid"
I tried installing the plugin on grafana 5.x and grafana 4.x, same results.

Issue:
When creating a simple query on a simple dataset, e.g. timeseries with hourly aggregate which is a sum of one dimension which is just a count, there are no requests made to the druid server.
When inspecting what happens in the code, it seems that in most of the input combinations (query types, filters, aggregations

[2018-06-01 22:55] #46 closed

[2018-06-06 10:14] chitin opened #61 "grafana does not support timeshift when using druid datasource"
I need to compare the data of yesterday and today, but I can not do it on grafana.

[2018-06-11 07:34] gavinmcnair commented on #46
@pkarmaka can we please get an update on this. This project has a lot of potential but is getting a serious lack of attention at the moment.

[2018-06-11 13:18] gavinmcnair opened #62 "Add Cardinality to Druid"
The issue associated to this pull request was closed though the issue had been accepted and needed minor changes to be merged.

https://github.com/grafana-druid-plugin/druidplugin/pulls

Can we please get a review and hopefully merge of the pull request.

[2018-07-04 08:52] inuyashafff opened #65 "The titles of the table can not be displayed completely"
the names of the columns are overlapped when the number of columns increases. And the name of columns can not be scrolled while the data can be scrolled

[2018-07-18 08:50] dkhwangbo opened #66 "Version bump-up needed"
I think It's good to release new version #52 contained.

[2018-07-19 09:00] dkhwangbo commented on #66
Also include #67

[2018-07-23 04:20] dkhwangbo opened #69 "Support query timeout"
See http://druid.io/docs/latest/querying/query-context.html . I think It's cool to support timeout configuration with this plugin.

[2018-07-24 16:35] irltankman commented on #60
+1, We are trying to use druid plugin v0.0.5 with Grafana v5.1.3 and we are not getting any responses to a TopN query
![grafana-druid](https://user-images.githubusercontent.com/28203109/43152975-efdc2e74-8f67-11e8-956c-8c7906d70004.png)

[2018-07-24 16:37] PetarLotrean commented on #60
We figured it out accidentally, click on the small add tag button at the end of aggregations line, it is then that the aggregations are considered...

[2018-07-24 16:38] RestfulBlue commented on #60
lmao xD

[2018-07-24 16:39] irltankman commented on #60
I want to hug you :)

[2018-07-24 16:43] PetarLotrean commented on #60
You don't want to know how many engineer-hours were spent trying to figure this out :D

[2018-07-24 16:43] #60 closed

[2018-07-24 16:44] irltankman commented on #60
Thankfully i only had to spend about 5 mins and you helped me :)

[2018-07-24 17:09] irltankman commented on #47
Any chance of getting this templating branch merged into the next release? Would love to play with this

[2018-07-24 17:56] irltankman commented on #47
I can see the issue here, your branch looks to be significantly different from the master and was branched off the 0.3 i think? so you are working with ts files rather than then js files. I'll pass this on to one of my angular devs, as I have reached the limits of my javascript knowledge :)

[2018-07-24 18:09] knoguchi commented on #60
"Add tag" came from bad copy and paste.   It really should be "Add agg"

[2018-07-25 06:59] RestfulBlue commented on #47
@irltankman currently i write my own plugin(but take large parts from this plugin) and make work almost everything ( large list of aggregators, templating via sql, also ad hoc templates, remove unused deps, fully move to typescript), currently every possible panel can be used, but i restricted by rules of my organization and i think i cant post it now :(
i will try to get some info about opensourc

[2018-07-25 08:06] irltankman commented on #47
Thanks @RestfulBlue, even that is great information. Its looking increasingly likely that we will be using this plugin and will be contributing back to it. So we would all win :)

[2018-08-01 01:54] shcarrico opened #71 "Refactor plugin to use TS pattern"
Currently this plugin uses an outdated datasource pattern. It needs to be refactored to follow https://github.com/grafana/typescript-template-datasource

I notice in #47 that @RestfulBlue has started on some of this, can we incorporate some of his changes, and add in the appropriate `.ts` interfaces for Druid that are currently set to `any` ?

[2018-08-01 01:59] shcarrico opened #72 "release versions should align with Grafana"
We need to release a 3.x, 4.x, and 5.x tag of this library to align with Grafana. One can maintain a 3.x, 4.x, and 5.x branch if required, although we may want to freeze the 3.x branch soon.

[2018-08-01 19:05] pranit22 commented on #62
#59 takes care of this. Thanks @gavinmcnair!

[2018-08-01 19:05] #62 closed

[2018-09-05 07:58] shcarrico commented on #57
closing as question

[2018-09-05 07:58] #57 closed

[2018-09-05 08:08] shcarrico opened #79 "Add interfaces for Druid query types"
Add interfaces for each druid query type to ensure valid data structures before object is serialized into JSON

[2018-09-05 08:10] shcarrico opened #80 "add missing Contributing guidelines"

[2018-09-05 08:13] shcarrico opened #81 "add getting started w/ screenshots for new users"
Create a markdown doc explaining
* how to utilize the plugin
* what Druid query types it supports
* how to debug generated queries

[2018-09-05 08:13] shcarrico commented on #55
should be addressed by #81

[2018-09-07 06:05] luzhcs opened #82 "Cannot draw points when using 'select' query type"
Hello!

I'm trying to draw graph-panel using 'select' query.

![image](https://user-images.githubusercontent.com/9166393/45201077-be350700-b2ae-11e8-91a4-3073fbe46e5e.png)

As you can see above, i checked e2e latency as a metric which ranges from 1~1000.
However, no points appear.

Any documents or suggestions are appreciated.

[2018-09-08 08:42] RestfulBlue commented on #82
hi, u have threshold set to 10, try to increase it

[2018-09-08 08:46] RestfulBlue commented on #65
@inuyashafff thats not a druid plugin issue. Table is a part of core grafana and this bug is part of grafana itself

[2018-09-20 02:27] ipflowss opened #84 "Metrics are not selectable"
Having a little issue getting this plugin working.  I am running grafana 5.2.4
Metrics are not selectable or I cannot type them in.
The dimensions though are selectable and usable.  What are some things I can check to get this plugin working?

[2018-09-21 11:51] Gauravshah commented on #21
Needs to wait on https://github.com/grafana/grafana/issues/6841

[2018-11-02 22:55] #71 closed

[2018-11-10 00:27] pranit22 opened #85 "Testing slack integration - please ignore"
Description of the issue

[2018-11-10 00:27] #85 closed, assigned to nobody

[2018-12-19 03:08] libratiger opened #87 "automatically downsample the Custom Granularity"
The `custom granularity` is fixed, is there any option to increase the `granularity` automatically when the query range is large ? such as 7 days.

This is helpful to increase the query speed.

I know we can change the `custom granularity` by hand, but we want to hide the detail for the users.

[2018-12-26 13:48] p-kuraev opened #88 "Don't work repeating panels with a multivalue variables"
I want to filter by some fields value  in every panel. But in query inspector i see multiple value for every filter like

[2018-12-27 09:40] xqwbx163 opened #89 "can not loading druid plugin http setting"
grafana 4.6.2
druid-plugin 0.05
![image](https://user-images.githubusercontent.com/20455410/50475103-732a3580-09fe-11e9-9e6f-d0170485c364.png)
can you help me?

[2018-12-27 09:42] xqwbx163 commented on #89
i try to loading druid-plugin 0.06 ,when i choose druid, show the same error

[2019-01-20 15:12] richiesgr commented on #21
Hi
Is there something new about alert in grafana ?
Thanks

[2019-02-14 13:50] kazpar-ai commented on #82
@luzhcs Did you manage to overcome this issue?
@RestfulBlue I tried changing the threshold but the issue still persists.

[2019-02-27 02:54] sunakshi-saxena opened #90 "there is no option for count_distinct functionality"

[2019-03-12 15:55] victr commented on #47
Missing this feature a lot, any chance it can get some attention?

[2019-03-12 20:16] knoguchi commented on #47
template expansion is pretty simple to implement.  if you look at the datasource.ts you'd notice there are `replaceTemplateValues` that does the template variable.  As far as I see only `filters` calls the replace function.   But it's super simple to add for others.  Just one or two lines for each.

[2019-03-14 17:12] victr commented on #47
@knoguchi not sure that I understand your question. I'm trying to make a "variable" and use druid as query data source. I'm not sure what "field" would mean in this context.

[2019-03-14 19:08] knoguchi commented on #47
I installed the version 0.0.5, and tested just now. Indeed it's broken.   A few years ago I helped fixing the template variable but it seems they are broken again.  I will look into it when I have time.

[2019-05-03 17:25] jbguerraz opened #91 "Project status ? looking for new maintainers ?"
Hello,

Despite Superset is there, we tend to believe Grafana is a better fit for system-wide dashboarding needs.
This plugin then looks required, OTOH, we can see there are issues and merge requests awaiting and not much traction.
Did you stopped using Druid ? or stopped using Grafana ? Is there a good reason about it we should know ? :)
Otherwhise, are you open to give maintainership to anyone e

[2019-05-03 17:26] Gauravshah commented on #91
we started using our forked version https://github.com/GoshPosh/druidplugin

[2019-05-03 17:27] abhisant commented on #91
Hi Gaurav,

Would you like to maintain ?

Thank you,
Abhishek Sant

[2019-05-03 17:29] Gauravshah commented on #91
thanks I will have to check with the team here and check if they have bandwidth to take it.
but I am curios did you guys move our of druid to something else ?

[2019-05-03 17:29] jbguerraz commented on #91
Happy to get such quick feedback :)

@abhisant may I ask why you don't care much by now about this plugin ? this is very interesting to me :)
@Gauravshah if we validate our intention to use Druid, Superset and Grafana all togethers, then we'll be happy helping maintaining it !

[2019-05-03 21:38] abhisant commented on #91
Hi,

I have actually moved out of the Infrastructure team and now I am not getting lot of bandwidth to followup on this. I can still continue to maintain it.

Thank you,
Abhishek Sant

[2019-05-05 09:44] lazywhite opened #92 "cant work with grafana 6.0.0"
grafana: 6.0.0
druid-plugin: 0.0.5

when add datasource of type druid, after click "save & test" button
 it says  " http error not found"

[2019-05-08 02:17] lazywhite commented on #92
it turn out to be a  network related error,  close this issue

[2019-05-08 02:17] #92 closed

[2019-05-09 09:13] jbguerraz commented on #91
@abhisant it's awesome you can still maintain it! the infrastructure team is still using it ? just not contributing back ? or still using old grafana ?
@Gauravshah do you think you guys can join @abhisant, helping maintaining it ?
We're new to it, but we (the Skilld small devops team) will be happy to join maintainers and help processing the issue queue, reviewing the pull requests (despite our sk

[2019-05-21 09:52] Gauravshah commented on #91
@jbguerraz we should be able contribute on new features & reviewing PRs. There are few additional features on Poshmark repo, will try to see if we can re-open PRs

[2019-06-12 16:36] fabienridolfo commented on #47
Hello @knoguchi !
It's exactly what I want to do with my grafana !!

Where should I copy paste your function in order to make it work with my plugin Druid ( 0.0.5 ) and my grafana (6.2.1 )
Which files do I have to edit too for it to work ?

Do you have maybe a fork of this druid plugin with the function metricFindQuery running ?

Thanks for your help !!

[2019-06-12 17:17] knoguchi commented on #47
My fork has diverged drastically.  I will see if I can create a patch for the current master branch.

[2019-06-13 13:10] fabienridolfo commented on #47
Thanks for your answer. I think it would be very usefull

[2019-07-15 07:07] linxd-cheer commented on #21
Hi,
today i use plugin of druid ( [repo](https://github.com/GoshPosh/druidplugin)) to implement alert, but i get an error when use 'test rule'
![image](https://user-images.githubusercontent.com/50398651/61199717-850cc500-a711-11e9-9611-8fa373b3b95d.png)

what else operation i need, my env like

grafana 6.5.3
node v8.16.0
npm 6.4.1

i hope get your reply, thx @Gauravshah

[2019-07-15 07:10] Gauravshah commented on #21
@linxd-cheer you can try using this branch https://github.com/GoshPosh/druidplugin/tree/druid_alert haven't tested it though

[2019-07-15 07:49] linxd-cheer commented on #21
sadly, I download it and move into my grafana plugins directory,  get it again

[2019-07-19 09:35] linxd-cheer commented on #21
finally, I found the backend need to modify , I'm use the repo (https://github.com/chinseone/grafana/tree/druid-alert) last 2 commits, but it still need some modify, because it support 4.x.x version, so lower to me (6.1.2)

[2019-07-19 20:01] knoguchi commented on #21
Yes, the backend needs to modify.   I can't find the link but the Grafana project already expressed that they don't want to add more datasource backends for alerting.  I don't know why Grafana project designed and implemented the alerts in datasource specific manner.  Anyway, they are working on the [backend plugins](https://github.com/grafana/grafana/issues/6841).    I think it's best to wait for

[2019-07-21 11:00] Gauravshah commented on #21
@knoguchi this https://github.com/GoshPosh/druidplugin/tree/druid_alert uses the new backend plugins feature

[2019-08-29 15:30] iamshreeram commented on #91
@Gauravshah, Do you still plan to maintain this repo at poshmark? Does this plugin still support the latest grafana 6.x.x?

[2019-08-31 20:05] iamshreeram commented on #91
@Gauravshah, Do you have any plans to maintain this repo at poshmark? Does this plugin support the latest grafana 6.x.x?

[2019-09-02 09:12] mickymiek commented on #91
@iamshreeram we're using it with the latest grafana and it works well.

[2019-09-03 20:46] iamshreeram commented on #91
@mickymiek ,
Project description is mis-leading. It says "This repository contains the druid plugin for Grafana 3.0".

Is there any docs available for this plugin to plot time series from druid?

[2019-09-03 21:30] iamshreeram opened #94 "Help needed : Unable to graph any data in grafana"
Hi, I'm unable to plot data in grafana with the plugin. But the datasources are getting populated from druid.
Is there a way to pull all data in table format druid? Can anyone post a config or snapshot that shows specific way to plot raw data in table? Help appreciated!

I tried 2 different versions of grafana `6.3.5` and `5.4.0`. No luck in both.
Thanks!

[2019-09-03 21:31] iamshreeram commented on #91
@mickymiek , Project description is mis-leading. It says "This repository contains the druid plugin for Grafana 3.0".
Is there any docs available for this plugin to plot time series from druid? Can some one help me with #94

[2019-09-04 00:52] Gauravshah commented on #91
@iamshreeram it does work well with 6.2, we are using it on production. Have not tried 6.3 ( but should work theoretically)
we do have a fork at Poshmark that has additional features. if @abhisant has time I can open PRs back to this repo

[2019-09-04 16:53] iamshreeram commented on #94
@Gauravshah / @mickymiek , Can you please look into this? I'm just looking for a way to get raw data of druid into grafana. But, No luck.  Below is the snapshot of my Grafana config-

![Grafana-druid-setup](https://user-images.githubusercontent.com/7752805/64275027-44a81700-cf0a-11e9-8e61-35f918dd4965.png)

Also, The plugin from Goshposh doesn't have any release. Can you please document ways to in

[2019-09-04 22:42] MasterSergius opened #95 "Help needed: configure plugin via cli"
Is it possible and how to configure druid plugin via command line?
I need to configure it via Chef and set druid host, Basic Authorization for druid and default user/pass and I can't figure out how to achieve this.

[2019-09-06 07:33] Gauravshah commented on #94
@iamshreeram druid doesn't store raw_data
if you are looking for aggregated data/ raw_druid data you still need to add all dimension and aggregations to get to it ?

[2019-09-06 08:51] mickymiek commented on #95
@MasterSergius You can set env variables to configure grafana (https://grafana.com/docs/installation/configuration/#using-environment-variables); for example:
[code]
and use the grafana datasource api to configure the druid plugin (https://grafana.com/docs/http_api/data_source/#create-a-data-source)

Hope this helps!

[2019-09-06 08:57] jbguerraz commented on #91
@abhisant could add @Gauravshah and @mickymiek (and or me, we're in same team) as maintainers maybe ? so we can revive this repo :)

[2019-09-09 20:27] iamshreeram commented on #94
@Gauravshah , I'm able to get the raw data in table format. I'm now trying to plot the data in timeseries. But, I'm facing **performance issues** with the plugin and REST API. My dataset size is only 40MB. But, Each time I make query to grafana / do some activity in query, It pulls nearly 88MB JSON and parses it.

I wanted to use the plugin from `GoshPosh`. But There are no installation guide in t

[2019-09-10 01:43] Gauravshah commented on #94
@iamshreeram we have not done any performance improvements, so you will most likely see same issue.
you just have to unzip the folder into plugins directory

[2019-10-07 05:20] stroeovidiu commented on #21
I have managed to use the above plugin but the alerts are not consistent ... the name and value don't match the filters and post aggregators .. any hints in this area ?
Thanks !

[2019-10-07 08:14] Gauravshah commented on #21
@stroeovidiu we have not worked on the backend plugin for sometime now. Not sure about the issues

[2019-10-08 12:43] stroeovidiu commented on #21
@Gauravshah : thanks for the swift answer.
I checked through the code and it seems that the problem is coming from : https://github.com/GoshPosh/druidplugin/blob/druid_alert/datasource.go#L337

The problem is that the metric name that comes into the alerting channel ( slack my case ) is "Druid" -- the hardcoded value at the above line ....

[2019-10-10 14:16] Gauravshah commented on #21
@stroeovidiu can you create a PR fixing the issue ? we should be able to merge it in

[2019-10-11 05:14] stroeovidiu commented on #21
I will do a PR with all the fixes.
I have discovered that postaggregations on the timeseries is not added to the query .. need to fix that also

[2019-10-11 07:28] Gauravshah commented on #21
@stroeovidiu yes, some of the features that were added after alert's initial release are also missing. Like json support etc

[2019-11-12 08:07] liyichao commented on #94
![image](https://user-images.githubusercontent.com/2576762/68653269-53442780-0566-11ea-9b9e-e98629809b8a.png)
I am trying this plugin and it can not load graph too. It seems it does not send any timeseries request to backend. For example, when I refresh, no network request is sent.

[2019-12-04 00:06] russki commented on #21
@stroeovidiu any news on the PR? would love to see the basic alerting support 😸

[2020-01-16 15:38] jbguerraz commented on #91
@abhisant @pranit22 maybe one of you could add some maintainers here ? like @Gauravshah  and @mickymiek  and myself ?

[2020-03-06 08:05] tomas-kucera opened #99 "Latest Grafana 6.6.2 and latest Druid 0.17"
Hi there,

I would love to get this combination to work.

I downloaded the Druid plugin from Abhishek: https://grafana.com/grafana/plugins/abhisant-druid-datasource

When configuring the Datasource, it registers it OK ... says Druid Datasource is working. I even see the Druid's Datasources, it looks like it is polling the schema OK.

But then, when trying to compose Query or Explore, I get no data

[2020-03-17 14:00] RidolfoFabien commented on #99
Hi Tomas,

I'm not in the same configuration of you.
Grafana 6.5.3
Druid 0.14 and 0.16
And this version of Druid plugin : [https://github.com/societe-generale/druidplugin/tree/master](url)

Most of the time my queries are groupby and topN

I'll try the same configuration as yours and tell you if I will have the same issue.

Did you already succeed in doing query that worked once ?!

[2020-03-17 15:19] tomas-kucera commented on #99
Hi,

I was not able to get it working and had to move on quickly with some other things. I think that the Druid 0.17 version is the critical piece because of this: https://druid.apache.org/docs/latest/querying/select-query.html <https://druid.apache.org/docs/latest/querying/select-query.html>.

Of course I would be very interested to see if you can get it working. :D

tom.+

[2020-03-17 15:30] RidolfoFabien commented on #99
Can you downgrade your version of Druid ?
For the moment, I can't upgrade to 0.17

Can you try do do a groupby or a timeseries query ?
Here is an example of what I do to see my data :
![groupby](https://user-images.githubusercontent.com/57175447/76872115-444ee800-686c-11ea-938e-23981c89ec45.png)

But to do the same you have to use the plugin I gave you before

[2020-03-24 07:41] erykpiast opened #100 "Project ownership"
@abhisant @Gauravshah are you still maintaining the project? I can see a lot of open issues and PRs not merged for a long time. I'd like to implement support for `quantilesDoublesSketch`, but barely see a chance of merging it. Do you need some help with merging existing PRs first?

[2020-04-03 16:52] mickymiek commented on #100
Seeing this: https://github.com/grafana-druid-plugin/druidplugin/issues/91, I hope you'll get a feedback...
I think the best solution now is to migrate to the most active fork (https://github.com/GoshPosh/druidplugin I think) or create a new one

[2020-04-03 16:56] Gauravshah commented on #91
@abhisant we should look at taking help from @jbguerraz & @mickymiek  ?

[2020-04-03 17:11] abhisant commented on #91
Sure. I will add @jbguerraz <https://github.com/jbguerraz>, @mickymiek <https://github.com/mickymiek> and @Gauravshah <https://github.com/Gauravshah> as collaborators. Thank you so much guys for help.

[2020-04-03 17:45] abhisant commented on #91
@Gauravshah - Bad news.
"grafanadruidplugin@gmail.com" - Was an email id I created to maintain this repo. I had given write permissions to my personal account "abhisant" and one of the collaborators "pranit22".

Looks like google deleted this account - grafanadruidplugin@gmail.com for no reason :(
Whenever I try logging in, it says google account not found. Looks like it's deleted for ever.

I can

[2020-04-04 03:12] Gauravshah commented on #91
thanks @abhisant
lets try opening a github support case I am sure they would be able to help.

There will be a lot of PRs I am thinking. collaboration would help in terms of review as well

[2020-04-06 16:51] abhisant commented on #91
Sure.

[2020-04-07 19:30] abhisant commented on #91
Added you guys as collaborators :). Thank you for your extended help guys.

[2020-04-08 12:56] mickymiek commented on #91
Thanks a lot @abhisant

[2020-04-08 12:57] jbguerraz commented on #91
Thank you! let's get started :)

[2020-04-08 12:59] jbguerraz commented on #91
@Gauravshah ok for you as well ? let's close it ?

[2020-04-08 13:11] mickymiek commented on #100
Actually @abhisant gave us (@jbguerraz, @Gauravshah and me) rights to maintains this plugin. We'll start reviving this repo ASAP :)

[2020-04-08 13:12] #91 closed

[2020-04-08 14:12] erykpiast commented on #100
That’s a great news! @jln-pl will have a PR for you I suppose :)

[2020-04-08 15:47] #100 closed

[2020-04-24 17:44] delta50 commented on #99
I am also running into the same issue with Druid 0.17 and Grafana 6.7.1. The grafana query inspector shows an error for select queries and hangs for all other queries.

[2020-04-27 12:32] RidolfoFabien commented on #99
I checked Druid release :

Upgrading to Druid 0.17.0
Select native query has been replaced
The deprecated Select native query type has been replaced in 0.17.0.

Please use the Scan native query type instead (https://druid.apache.org/docs/0.17.0/querying/scan-query.html).

For Druid SQL queries, no user action is needed; the SQL planner will create Scan queries instead of Select queries when applic

[2020-04-27 17:59] Gauravshah commented on #99
thanks @RidolfoFabien that is correct, we will need to add scan to this plugin

[2020-05-20 14:11] rs26f opened #101 "Unable to run tests"
Hello,

I have been trying to run the tests but they fail with the following errors:
` FAIL  specs/query_ctrl_specs.ts
  ● Test suite failed to run

    Cannot find module 'app/plugins/sdk' from 'query_ctrl.ts'

    However, Jest was able to find:
        '../src/query_ctrl.ts'

    You might want to include a file extension in your import, or update your 'moduleFileExtensions', which is currently

[2020-06-18 11:55] junneyang commented on #21
+1

[2020-08-04 14:47] mrmassis opened #105 "Use the Plugin"
Hi everyone.
sorry by my knowledge fault. Im cant configure the datasource. I have a druid cluster, but (until now) i dont have enough knowledge about druid.

My question is: i have one datasource named "logs". How i cant get these values in granfana. In other words, which string i put in grafana datasource url, to enable my logs datasource in grafana.

Tkz in advance

[2020-09-27 06:38] Ren-XingYu commented on #99
I met the same situation as you, have you know the reason or solved it?

[2020-09-27 06:39] Ren-XingYu commented on #99
I met the same situation as you, have you know the reason or solved it?

[2020-10-08 09:33] Gauravshah commented on #105
@mrmassis please read `https://github.com/grafana-druid-plugin/druidplugin` that has setup instructions

[2020-12-30 15:26] jbguerraz opened #107 "Druid 0.20, Grafana 7.6, React/Typescript, Full featured: New Plugin"
Hello mates,

I just released the v0.0.0 of a rebirth of the plugin, from the ground up. This plugin uses latest SDK from Grafana, profit a backend plugin which allows for alerting, provide a complete query builder and supports all grafana APIs: https://github.com/grafadruid/druid-grafana

The codebase is in POC state, which means, the macro architecture is there but at micro level it needs abstra

[2020-12-30 15:27] jbguerraz commented on #99
Hello mates, feel free to take a look on https://github.com/grafana-druid-plugin/druidplugin/issues/107

[2020-12-30 16:37] Gauravshah commented on #107
sweet. might want to look at https://github.com/GoshPosh/druidplugin/tree/druid_alert

[2020-12-30 16:39] Gauravshah commented on #107
also did you use react or angular ? might worth switching to react at this point. Grafana has deprecated angular

[2020-12-30 16:39] Gauravshah commented on #107
good you chose angular :)

[2020-12-30 17:08] jbguerraz commented on #107
Hello @Gauravshah
Yep, I've seen the druid_alert fork; as you mentioned Grafana is moving away from Angular and now provide few more options. We've considered the option "rework the existing plugin" vs "create a new one" and considering the technical debt, we decided to move on with a new one more aligned with Grafana nowadays. It took a damn time to produce that v0  but it's now out there and rea

[2021-01-07 07:52] HoraceLee opened #108 "druidplugin does not support alerting"
druidplugin does not support alerting queries which is a very useful feature.
![image](https://user-images.githubusercontent.com/9915526/103866167-4edeb480-5100-11eb-9130-1be671c00125.png)

[2021-01-07 09:22] Gauravshah commented on #108
duplicate of https://github.com/grafana-druid-plugin/druidplugin/issues/21

[2021-01-07 09:22] #108 closed

[2021-01-08 13:46] jbguerraz commented on #108
@HoraceLee  feel free to take a look on https://github.com/grafana-druid-plugin/druidplugin/issues/107
This new plugin supports alerting.

[2021-01-19 08:30] Gauravshah commented on #107
@jbguerraz going to try out this week and see if we can transition in the coming weeks.

[2021-01-19 08:30] Gauravshah commented on #107
once we have all the features in we should deprecate this repo

[2021-01-19 13:51] jbguerraz commented on #107
@Gauravshah  sounds like a great plan :) Here to help!

[2021-01-20 17:43] jbguerraz commented on #107
@Gauravshah  @all feel free to join on https://join.slack.com/t/grafadruid/shared_invite/zt-kxaiq5gm-c6akAiceMzgHvUBV~KXeiA

[2021-04-27 14:04] ZhanHui-Xu opened #110 "can't find log written by druidplugin in grafana.log"
hi, guys:
  I am confused about log written by datasource.go file,  which  provides back-end services and plays an important role in alerting .
  why can't I find any log information recorded by datasource.go  in grafana.log.

![123](https://user-images.githubusercontent.com/66346446/116255020-6e2f4980-a7a4-11eb-95f9-adc34a31e187.png)

Best Regards.

[2021-04-27 15:55] jbguerraz commented on #110
Hello @ZhanHui-Xu
I don't see any go code in this project. That being said, you may want to take a look on https://github.com/grafana-druid-plugin/druidplugin/issues/107 (and then on https://github.com/grafadruid/druid-grafana ) since that could already cover your needs.
Let me know if I can help you further :)

[2021-04-27 16:20] yinghao-wang opened #111 "The configured Query page can only initiate queries of type SELECT"
The grafana I use is version 6.35, the grafana-druid plugin is version 0.05, and the Druid cluster is version 0.18.1. After configuring the query panel, there is no response. I opened the network and observed that only the query page of the select type would be initiated. Request, other query pages have not been requested, and the Druid cluster has not received the query request. What is the situa

[2021-04-27 16:25] yinghao-wang commented on #111
The query of the select type is as shown in the figure below. Although the request reported a 400 error, the request was indeed sent.
![GIZ SQIXH3ULHJ I6SD~F)Y](https://user-images.githubusercontent.com/64965834/116277036-ab510700-a7b7-11eb-9658-75bb881779c8.png)

The following figure shows other types of queries. From the network panel, garafana only initiated a metadata query, but did not initia

[2021-04-27 16:27] yinghao-wang commented on #111
Can anyone help me check it out, thank you everyone

[2021-04-28 03:16] ZhanHui-Xu commented on #110
thks, @jbguerraz .
This code comes from the druid_alert fork, and its link is https://github.com/GoshPosh/druidplugin/tree/druid_alert, which was mentioned on [#107](https://github.com/grafana-druid-plugin/druidplugin/issues/107) .
Maybe @Gauravshah knows the answer to this question.

grafadruid, I know it, it is awesome work。 I have been your follower because of it in the past , lol :)

At presen

[2021-05-25 08:48] Murthy7587 opened #114 "Not getting Data Graffana 7.5.7"
Hello,

I am trying to integrate Graffana(7.5.7) with Druid using plugin version 0.5, I am able to see my datasources along with metrics and dimensions but not able to get any result from druid.

Can you please let me know if there are any configurations required.

Regards,
Akhilesh

[2021-05-26 08:19] jbguerraz commented on #114
Hello @Murthy7587
This plugin isn't much maintained, you can take a look on https://github.com/grafadruid/druid-grafana
Let me know if I can help!

[2021-06-01 16:19] Murthy7587 commented on #114
Thanks @jbguerraz , I tried using the plugin information which you pasted above.
The drawback of that pluging is there is no support for metadata information on UI like metric/dimension and datasource name like this plugin. But this plugin is not firing any queries to server to get the data.

Need something which can do both.

Thanks,
Akhilesh

[2021-06-02 09:28] jbguerraz commented on #114
Hello @Murthy7587
Thank you!
Follow up here: https://github.com/grafadruid/druid-grafana/issues/89

[2021-12-15 02:40] #87 closed

[2022-04-02 07:53] WANGLULU9802 opened #118 "When I add a variable"
When I add variables of time, I can't choose the query mode.An error as shown in the figure below.Somebody help me please.

Templating [task_name]
Error updating options: Couldn't find a query runner that matches supplied arguments.

Validation
Couldn't find a query runner that matches supplied arguments.

[2022-04-07 10:49] jbguerraz commented on #118
Hello @WANGLULU9802
This project isn't much supported by now.
Feel free to take a look on its successor: https://grafana.com/grafana/plugins/grafadruid-druid-datasource/

[2022-06-23 03:11] #118 closed

[2022-08-31 10:24] xiaoyuhao12345 commented on #61
have you find the a solution? i have the same usecase.